<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103737523377-fhqmopnipdbp6a8ncdnek2qhf6hrl6n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103737523377-fhqmopnipdbp6a8ncdnek2qhf6hrl6n9</string>
	<key>API_KEY</key>
	<string>AIzaSyCFXe9svTlgiCCMqZce4hNrmuG9AzPnY1k</string>
	<key>GCM_SENDER_ID</key>
	<string>103737523377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.farazis.capstone</string>
	<key>PROJECT_ID</key>
	<string>farazis-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>farazis-capstone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103737523377:ios:3baf650048758115857690</string>
	<key>DATABASE_URL</key>
	<string>https://farazis-capstone.firebaseio.com</string>
</dict>
</plist>